{{#em-flickity
   class="nested-flickity-instance"
   contain=false
   draggable=true
   imagesLoaded=true
   initialIndex=currentIndex
   prevNextButtons=true
   showSlides=true
   settle=(action 'handleSettle')
   resize=true
}}
  {{#each options as |option| }}
    <div class="item">
      <span>{{option}}</span>
    </div>
  {{/each}}
{{/em-flickity}}
